{% extends "base_manage.html" %}
{% block title %}
Dịch vụ đăng ký
{% endblock %}
{% block extends %}
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h1 class="border-bottom border-gray pb-2 mb-0">Danh sách dịch vụ chờ duyệt:
            <a href="{% url 'index_service' %}">
                <button formaction="new" class="btn btn-primary" style="float: right; margin-top: -18px ">Quay lại
                </button>
            </a>
        </h1>
        {% if serviceusing %}
        {% for se in serviceusing %}
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">
                    <a style="font-size: 18px" href="{% url 'show_service' se.id %}">{{ se.service.name | truncatechars:100 }}</a>
                    <a href="{% url 'destroy_service' se.id %}">
                        <button formaction="new" class="btn btn-primary"
                                style="float: right; margin-top: 10px ;margin-left: 20px">Xóa
                        </button>
                    </a>
                    <a href="{% url 'activate_service' se.id %}">
                        <button formaction="new" class="btn btn-primary"
                                style="float: right; margin-top: 10px ;margin-left: 20px">Duyệt
                        </button>
                    </a>
                </strong>
                {{ se.service.cost }} đồng/ngày
                <br>
                Phòng: {{se.room}}
            </p>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-danger" role="alert">
            Không có dịch vụ nào..!
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}