{% extends "base_manage.html" %}
{% block title %}Phòng{% endblock %}
{% block extends %}
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        {% if room %}
        <h1 class="border-bottom border-gray pb-2 mb-0">Phòng: {{room}}
            <a href="{% url 'index_view' %}">
                <button style="float: right" type="submit" class="btn btn-primary">Quay lại</button>
            </a></h1>
        <hr>
        <form method="post">
            {% csrf_token %}

            <h4>Tòa nhà:</h4>
            <p class="text-left">{{ room.building }}</p>
            <hr>
            <h4>Đia chỉ:</h4>
            <p class="text-left">{{ room.address }}</p>
            <hr>
            <div class="form-group">
                <label for="area">Diện tích:</label>
                <input type="number" step="0.01" name="area" value="{{ room.area }}" class="form-control" id="area" placeholder="Area"
                       required>
            </div>
            <hr>
            <div class="form-group">
                <label for="number_bedrooms">Số phòng ngủ:</label>
                <input type="number" name="number_bedrooms" value="{{ room.number_bedrooms }}" class="form-control"
                       id="number_bedrooms" placeholder="Number Bedrooms" required>
            </div>
            <hr>
            <div class="form-group">
                <label for="room_master">Chủ phòng:</label>
                <select class="form-control" id="room_master" name="room_master">
                    <option value="{{room.room_master.id}}">{{room.room_master.get_full_name}}</option>
                    {% for u in users %}
                    <option value="{{ u.id }}">{{ u.get_full_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="float: right">
                <button type="submit" class="btn btn-primary">Sửa</button>
            </div>
        </form>
        {% else %}
        <div class="alert alert-danger" role="alert">
            Không có phòng này!
        </div>
        {% endif %}

    </div>
</main>
{% endblock %}