{% extends "base_manage.html" %}
{% block title %}Phòng{% endblock %}
{% block extends %}
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        {% if room %}
        <h1 class="border-bottom border-gray pb-2 mb-0">Căn hộ: {{room}}
            <a href="{% url 'room' room.id %}">
                <button style="float: right" type="submit" class="btn btn-primary">Quay lại</button>
            </a></h1>
        <hr>
        <form method="post">
            {% csrf_token %}

            <h4>Tòa nhà:</h4>
            <p class="text-left">{{ room.building }}</p>
            <hr>
            <h4>Đia chỉ:</h4>
            <p class="text-left">{{ room.address }}</p>
            <hr>
            <h4>Diện tích:</h4>
            <p class="text-left">{{ room.area }}</p>
            <hr>
            <h4>Số phòng ngủ:</h4>
            <p class="text-left">{{ room.number_bedrooms }}</p>
            <hr>
            <h4>Thành viên:</h4>
            {% for m in member %}
                <p class="text-left">{{ m.user.get_full_name }}</p>
                {% endfor %}
            <div class="form-group">
                <label for="member"></label>
                <select class="form-control" id="member" name="member">
                           {% for u in users %}
                    <option value="{{ u.id }}">{{ u.get_full_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="float: right">
                <button type="submit" class="btn btn-primary">Thêm thành viên</button>
            </div>
        </form>
        {% else %}
        <div class="alert alert-danger" role="alert">
            Không có phòng này!
        </div>
        {% endif %}

    </div>
</main>
{% endblock %}