{% extends "base.html" %}
    {% block title %}
        Phòng
    {% endblock %}
{% block extends %}
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        {% if room %}
            <h1 class="border-bottom border-gray pb-2 mb-0">Căn hộ: {{room.room}}</h1>
        <a href="{% url 'services_using' %}?room={{room.room.id}}">
                <button formaction="new" class="btn btn-primary" style="float: right; margin-top: -50px ">Dịch vụ đang sử dụng</button>
            </a>
            <hr>
            <h4>Tòa nhà:</h4>
            <p class="text-left">{{ room.room.building }}</p>
            <hr>
            <h4>Đia chỉ:</h4>
            <p class="text-left">{{ room.room.address }}</p>
            <hr>
            <h4>Diện tích:</h4>
            <p class="text-left">{{ room.room.area }} mét vuông</p>
            <hr>
            <h4>Số phòng ngủ:</h4>
            <p class="text-left">{{ room.room.number_bedrooms }} phòng</p>
            <hr>
            <h4>Thành viên:</h4>
            {% for m in member %}
                <p class="text-left">{{ m.user.get_full_name }}</p>
            {% endfor %}
            <hr>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Bạn không ở trong căn hộ này!
            </div>
        {% endif %}
        <a href="{% url 'index_view' %}">
            <button style="float: right" type="submit" class="btn btn-primary">Quay lại</button>
        </a>
    </div>
</main>
{% endblock %}