{% extends "base.html" %}
{% block title %}
Danh sách phòng
{% endblock %}
{% block extends %}
<h1>Rooms</h1>
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Danh sách phòng của bạn:
        </h6>
        {% if rooms %}
            {% for r in rooms %}
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">
                            <a style="font-size: 18px" href="{% url 'room' r.id %}">{{ r }}</a>
                        </strong>
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                Không có phòng nào..!
            </div>
        {% endif %}
    </div>
</main>
{% endblock %}