div{
   display:inline-block;
   border:5px solid green;
   padding-top:25px;
   padding-right:300px;
   padding-bottom:100px;
   padding-left:50px;
}

.khung-anh{
    border-style: solid;
    width:90%
    max-width:70%;
    margin:0 auto;
}
.khung-anh{
    border-style: solid;
    width:90%
    max-width:70%;
    margin:0 auto;
}