{% extends "base_manage.html" %}
{% block title %} Tạo thông báo mới {% endblock %}
{% block extends %}
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h4 class="border-bottom border-gray pb-2 mb-0">Tạo thông báo mới:</h4>
        <br>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="heading">Đề mục</label>
                <input type="text" name="heading" class="form-control" id="heading" placeholder="Heading">
            </div>
            <div class="form-group">
                <label for="content">Nội dung</label>
                <textarea class="form-control" name="content" id="content" rows="5"></textarea>
            </div>
            <div style="float: right">
                <button type="submit"  class="btn btn-primary">Tạo mới</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}