{% extends "base.html" %}
{% block title %}
Thông báo
{% endblock %}
{% block extends %}
    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h1 class="border-bottom border-gray pb-2 mb-0">Danh sách thông báo:</h1>
            {% if notify %}
                {% for no in notify %}
                    <div class="media text-muted pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">
                                <a style="font-size: 18px" href="{% url 'view_notify' no.notify_id.id %}">{{ no.notify_id | truncatechars:100 }}</a></strong>
                            {{ no.notify_id.content | truncatechars:150 }}
                        </p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Không có thông báo nào..!
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}